@{
    ViewBag.Title = "Контакты";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <address>
        <a href="https://t.me/aah_ooh" class="btn btn-outline-dark">Telegram</a><br />
        <a href="https://wa.me/79951404088" class="btn btn-outline-danger">WhatsApp</a><br />
        <a href="https://vk.com/disappoint3me3" class="btn btn-outline-info">VK</a><br />
        <a></a><br />
        Северная ул., 10<br />
        Стародуб, Брянская обл., 243240<br />
    </address>

    <address>
        <strong>Проблемы с сайтом:</strong>   <a href="mailto:grabelnikov757@gmail.com">grabelnikov757@gmail.com</a><br />
    </address>
</main>