@{
    ViewBag.Title = "Главная страница";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Добро пожаловать!</h1>
        <p class="lead">Вы на сайте посвященному маникюру, тут вы сможете найти всю необходимую информацию по услугам мастера.</p>
        <p><a href="~/Home/Contact" class="btn btn-primary btn-md">Записаться &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="aboutTitle">
            <h2 id="aboutTitle">Кто мы?</h2>
            <p>
                Мы предоставляем услуги в бьюти сфере.
                Такие как маникюр, наращивание, дизайн, снятие покрытия.
            </p>
            <p><a class="btn btn-outline-dark" href="~/Home/About">Подробнее &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="contactTitle">
            <h2 id="contactTitle">Как с нами связаться?</h2>
            <p>
                Вы можете использовать любой популярный способ связи.
                Будь это по номеру телефона, мессенджеры VK, Telegram, Whatsapp.
            </p>
            <p><a class="btn btn-outline-dark" href="~/Home/Contact">Записаться &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="reviewTitle">
            <h2 id="reviewTitle">Какие отзывы?</h2>
            <p>
                Для просмотра обратной связи каждого клиента, мы так же предусмотрели дополнительную вкладку.
                Любой пользователь может оставить свой отзыв.
            </p>
            <p><a class="btn btn-outline-dark" href="~/Home/Review">Отзывы &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="resumeTitle">
            <h2 id="resumeTitle">Как это выглядит?</h2>
            <p>
                Мы так же сохраняем примеры работ, которые будут сиять у вас на руках.
            </p>
            <p><a class="btn btn-outline-dark" href="~/Home/Resume">Посмотреть &raquo;</a></p>
        </section>
    </div>
</main>