
@{
    ViewBag.Title = "Портфолио";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <table>
        <tr><img width="300" height="300" src="~/Content/photo_1_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_10_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_11_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_12_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_13_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_14_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_15_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_16_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_17_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_18_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_19_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_2_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_20_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_21_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_22_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_3_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_4_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_5_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_6_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_7_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_8_2024-04-03_12-27-20.jpg" /></tr>
        <tr><img width="300" height="300" src="~/Content/photo_9_2024-04-03_12-27-20.jpg" /></tr>
    </table>
</main>
